.node {
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  text-align: left;
  padding: 4px 5px 3px 5px;
  width: var(--node-width);
  height: var(--node-height);
  box-sizing: border-box;
  transition: opacity 0.9s ease-in-out;
}

.node--major {
  height: var(--node-height-major);
}

.node__title {
  font-weight: normal;
  font-size: 13pt;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.node__title--major {
  overflow: visible;
  white-space: normal;
}

.node__code {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 10pt;
  position: relative;
  top: -1px;
}

.node__type {
  font-weight: lighter;
  font-size: 10pt;
  text-align: right;
}
