.app {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  font-family: "Inter";
}

.app__header {
  position: absolute;
  text-align: left;
  font-family: "Cormorant Garamond";
  font-size: 18pt;
  font-weight: bold;
  padding: 9px 0 0 14px;
}
